@font-face {
  font-family: "Spartan Regular";
  src: url("../../textfont/Spartan-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Spartan SemiBold";
  src: url("../../textfont/Spartan-SemiBold.ttf") format("truetype");
}

:root {
  --color-1: hsl(151, 93%, 32%);
  --color-1-dark: hsl(157, 94%, 27%);
  --color-2: hsl(0, 0%, 22%);
  --color-3: hsl(0, 0%, 44%);
  --color-3-light: hsl(0, 0%, 65%);
  --color-4: hsl(160, 60%, 99%);
  --color-5: hsl(0, 0%, 100%);
  --ff-regular: "Spartan Regular", sans-serif;
  --ff-semibold: "Spartan SemiBold", sans-serif;
  --font-size-h1: 4rem;
  --font-size-h2: 2.7rem;
  --font-size-h4: 1.8rem;
  --letter-spacing-L: 4.17px;
  --letter-spacing-S: 2px;
  --line-height-L: 1.8;
  --line-height-M: 1.4;
  --line-height-S: 1;
}

@media screen and (max-width: 1000px) {
  :root {
    --font-size-h1: 3.2rem;
    --font-size-h2: 2.2rem;
    --font-size-h4: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --font-size-h1: 2.5rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: var(--ff-regular);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-4);
  color: var(--color-3);
  font-size: 1.5rem;
  overflow-x: hidden;
}

p {
  line-height: var(--line-height-L);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding: 9rem 0;
}

img {
  width: 100%;
}

.container,
.container-md,
.container-sm {
  max-width: 120rem;
  padding: 0 2.4rem;
  margin: 0 auto;
}

.container-md {
  max-width: 110rem;
}

.container-sm {
  max-width: 90rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  -webkit-column-gap: 1.8rem;
          column-gap: 1.8rem;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 1.7rem 4rem;
  border-radius: 10rem;
  outline: none;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn:hover {
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn--primary {
  background-color: var(--color-1);
  color: var(--color-5);
}

.btn--primary::after {
  background-color: var(--color-1);
}

.btn__flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn__flex svg {
  margin-left: 0.5rem;
  fill: var(--color-5);
}

h1,
h2 {
  color: var(--color-2);
  line-height: var(--line-height-M);
  font-family: var(--ff-semibold);
  position: relative;
}

h1 {
  font-size: var(--font-size-h1);
  margin-bottom: 2rem;
}

h1::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: 0;
  height: 2rem;
  width: 7rem;
  background-image: url("../../images/pattern-divide.svg");
  background-repeat: no-repeat;
}

h2 {
  font-size: var(--font-size-h2);
  margin-bottom: 1.5rem;
  color: var(--color-1);
}

.heading::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: 0;
  height: 2rem;
  width: 7rem;
  background-image: url("../../images/pattern-divide.svg");
  background-repeat: no-repeat;
}

h4 {
  font-size: var(--font-size-h4);
  font-family: var(--ff-semibold);
}

.description {
  margin-bottom: 3.5rem;
  width: 70rem;
  max-width: 100%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 8.2rem;
  padding: 3.5rem 0;
}

.nav__logo {
  color: var(--color-1);
  font-family: var(--ff-semibold);
  font-size: 1.9rem;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 5rem;
}

.nav__link {
  font-family: var(--ff-semibold);
  color: inherit;
  font-size: 1.55rem;
  position: relative;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1rem;
  height: 1rem;
  background-color: var(--color-1);
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__link:hover {
  color: var(--color-1);
}

.nav .menu-toggle {
  display: none;
}

.hero {
  min-height: calc(100vh - 8.2rem);
  padding: 4rem 0;
}

.hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__text p {
  width: 70%;
  margin-bottom: 3rem;
}

.signature__item {
  height: 32rem;
  width: 32rem;
  background-size: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  position: relative;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.signature__item:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.signature__item--box {
  position: absolute;
  padding: 1.2rem;
  background-color: var(--color-5);
  bottom: 0;
  left: 0;
  width: 100%;
}

.signature__item--box p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signature .item--one {
  background-image: url("../../images/food1.jpg");
}

.signature .item--two {
  background-image: url("../../images/food2.jpg");
}

.signature .item--three {
  background-image: url("../../images/food3.jpg");
}

.services .grid-3 {
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.services__col {
  text-align: center;
  padding: 1.2rem 2.2rem;
  margin-top: 3rem;
}

.services__col h3 {
  color: var(--color-1);
  margin-bottom: 1.2rem;
}

.services__img {
  width: 6.4rem;
  height: 6.4rem;
  fill: var(--color-1);
  margin-bottom: 1.7rem;
}

.menu .grid-3 {
  gap: 6rem 3rem;
  margin-top: 5rem;
}

.menu__col {
  background-color: var(--color-5);
  border-top-right-radius: 5rem;
  height: 48rem;
  position: relative;
  -webkit-box-shadow: 0 0.2rem 0.6rem #e4e4e4;
          box-shadow: 0 0.2rem 0.6rem #e4e4e4;
}

.menu__image img {
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
}

.menu__text {
  background-color: var(--color-5);
  padding: 2.3rem 2rem;
}

.menu__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--color-2);
  padding: 1rem 0;
}

.menu__info {
  margin: 1.5rem 0;
  line-height: 1.65;
}

.menu__rating {
  margin-top: 5.3rem;
}

.menu__rating i {
  font-size: 1.5rem;
  color: var(--color-1);
}

.menu__add {
  background-color: var(--color-1);
  color: var(--color-5);
  height: 5.5rem;
  width: 9rem;
  position: absolute;
  right: 0;
  bottom: 0;
  border-top-left-radius: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__add svg {
  fill: var(--color-5);
  margin-left: 2rem;
}

.menu__add svg:hover {
  cursor: pointer;
}

.app .grid {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 4.5rem;
          column-gap: 4.5rem;
}

.app__image {
  width: 37rem;
}

.app__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app__content h2 {
  margin-bottom: 3rem;
  position: relative;
}

.app__content h2::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: 0;
  height: 2rem;
  width: 7rem;
  background-image: url("../../images/pattern-divide.svg");
  background-repeat: no-repeat;
}

.app__content p {
  margin-bottom: 1.2rem;
}

.app__download {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (12rem)[2];
      grid-template-columns: repeat(2, 12rem);
  -webkit-column-gap: 1.2rem;
          column-gap: 1.2rem;
}

.app__download img {
  width: 12rem;
  height: auto;
}

.carousel {
  margin-top: 6rem;
  padding: 3rem 0;
  position: relative;
}

.carousel__image {
  width: 13.5rem;
  height: 13.5rem;
  margin: 0 auto 3rem;
  padding: 0.5rem;
  border: 1px solid var(--color-3);
  border-radius: 100%;
}

.carousel__image img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.carousel__content {
  text-align: center;
}

.carousel__testimonial {
  font-style: italic;
  width: 60rem;
  margin: 0 auto;
  max-width: 100%;
}

.carousel__stars {
  margin: 2rem 0;
  color: var(--color-1);
}

.carousel__control {
  cursor: pointer;
  display: block;
  width: 25px;
  height: 25px;
  top: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #384147;
  border-radius: 100%;
  border: none;
  outline: none;
}

.carousel__control i {
  color: var(--color-5);
  font-size: 2rem;
}

.carousel__control--right {
  position: absolute;
  right: -2.5rem;
}

.carousel__control--left {
  position: absolute;
  left: 0;
}

.book {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url("../../images/book-bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../../images/book-bg.jpg");
}

.book h2 {
  color: var(--color-5);
}

.book .row {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  background-color: #0a0a0a;
  padding: 8rem 0;
}

.footer .grid {
  justify-items: normal;
}

.footer a {
  font-size: 2.2rem;
}

.footer ul li {
  font-size: 1.4rem;
  color: var(--color-5);
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 1100px) {
  .signature__item {
    width: 100%;
  }
  .menu__col {
    height: 40rem;
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    padding: 9rem 0;
  }
}

@media screen and (max-width: 900px) {
  .hero__image img {
    width: 30rem;
  }
}

@media screen and (max-width: 768px) {
  .nav .menu-toggle {
    display: inline-block;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    width: 2rem;
    height: 2rem;
  }
  .nav .menu-toggle .open {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    transition: opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  }
  .nav .menu-toggle .close {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
    -webkit-transition: opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    transition: opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  }
  .nav .menu-toggle .open.active {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
  }
  .nav .menu-toggle .close.active {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  .nav__logo {
    position: relative;
    z-index: 1;
  }
  .nav__list {
    background-color: var(--color-4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    padding: 6rem 4rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateY(-45vh);
            transform: translateY(-45vh);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 3.5rem;
  }
  .nav__item:not(:last-child) {
    margin-right: 0;
  }
  .nav__link::after {
    display: none;
  }
  .nav__list.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .hero__image {
    text-align: center;
  }
  .hero {
    padding: 2rem 0;
  }
  .hero .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .hero__text {
    margin-top: 3rem;
  }
  .hero__text p {
    width: 100%;
  }
  .grid-3 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 3rem;
  }
  .signature__item {
    width: 42rem;
  }
  .services__col {
    width: 42rem;
  }
  .menu__col {
    height: 48rem;
    width: 42rem;
  }
  .app .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .app__image {
    width: 100%;
    text-align: center;
  }
  .app__image img {
    width: 70%;
  }
  .carousel__control {
    display: none;
  }
  .book .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .book h2 {
    margin-bottom: 2.7rem;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .hero img {
    width: 90%;
  }
  .signature__item {
    width: 100%;
  }
  .services__col {
    width: 100%;
  }
  .menu__col {
    width: 100%;
  }
  .carousel {
    position: relative;
  }
  .carousel__control {
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .carousel__control i {
    color: var(--color-5);
    font-size: 2rem;
  }
  .carousel__control--right {
    position: absolute;
    left: 50%;
    bottom: 0;
  }
  .carousel__control--left {
    position: absolute;
    left: 20%;
    bottom: -40rem;
  }
}
